## Import libraries

In [1]:
import pandas as pd
import numpy as np

C:\Temp\ipykernel_6264\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Read data

In [3]:
train = pd.read_json('../data/train.jsonl', lines=True)
train

,ners,sentences,id
0,"[[0, 5, CITY], [16, 23, PERSON], [34, 41, PERS...",Бостон взорвали Тамерлан и Джохар Царнаевы из ...,0
1,"[[21, 28, PROFESSION], [53, 67, ORGANIZATION],...",Умер избитый до комы гитарист и сооснователь г...,1
2,"[[0, 4, PERSON], [37, 42, COUNTRY], [47, 76, O...",Путин подписал распоряжение о выходе России из...,2
3,"[[0, 11, PERSON], [36, 47, PROFESSION], [49, 6...",Бенедикт XVI носил кардиостимулятор\nПапа Римс...,3
4,"[[0, 4, PERSON], [17, 29, ORGANIZATION], [48, ...",Обама назначит в Верховный суд латиноамериканк...,4
...,...,...,...
514,"[[42, 46, COUNTRY], [82, 87, COUNTRY], [104, 1...",Глава Малайзии: мы не хотим противостоять Кита...,514
515,"[[1, 4, PRODUCT], [31, 33, FACILITY], [35, 44,...",«Союз» впервые пристыковался к МКС за 6 часов\...,515
516,"[[0, 4, PERSON], [8, 12, PERSON], [45, 52, AGE...",Трамп и Путин сделали совместное заявление к 7...,516
517,"[[0, 9, NATIONALITY], [58, 72, PERSON], [101, ...",Российский магнат устроил самую дорогую свадьб...,517
518,"[[0, 4, PERSON], [16, 25, PROFESSION], [27, 38...",Трамп поздравил астронавта Пегги Уитсон с уста...,518

## Second solution: train spacy model
Train the spacy model on the given data, so the model can recognize different types of named entities.

Tutorial I used: https://www.newscatcherapi.com/blog/train-custom-named-entity-recognition-ner-model-with-spacy-v3

In [4]:
# Install the library

# !pip install spacy

Requirement already satisfied: spacy in /usr/local/lib/python3.10/dist-packages (3.7.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.9)
Requirement already satisfied: thinc<8.3.0,>=8.2.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (8.2.3)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.4.0,>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.3.4)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.9.4)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (6.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (4.66.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.7.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.1.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (24.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.25.2)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.1 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.18.1)
Requirement already satisfied: typing-extensions>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2024.2.2)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.1.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer<0.10.0,>=0.3.0->spacy) (8.1.7)
Requirement already satisfied: cloudpathlib<0.17.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from weasel<0.4.0,>=0.1.0->spacy) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy) (2.1.5)

In [4]:
import spacy
from spacy.tokens import DocBin
from tqdm import tqdm

nlp = spacy.blank("ru") # load a new spacy model
doc_bin = DocBin() # create a DocBin object

### Preprocess data
The part of code is taken from the tutorial with some modifications

In [6]:
from spacy.util import filter_spans

skip = 0
for id, row in tqdm(train.iterrows()):
    text = row['sentences']
    labels = row['ners']
    doc = nlp.make_doc(text)
    ents = []
    for start, end, label in labels:
        start, end = int(start), int(end)
        span = doc.char_span(start, end+1, label=label, alignment_mode="contract")
        # Spacy  model is sensitive to spaces
        # so skip span if the first or last character is a space
        if span is None or span.text.strip() != span.text:
            skip += 1
        else:
            ents.append(span)
    filtered_ents = filter_spans(ents)
    doc.ents = filtered_ents
    doc_bin.add(doc)
print("Skipped:", skip)

doc_bin.to_disk("training_data.spacy") # save the docbin object

519it [00:04, 123.80it/s]

Skipped: 175

Transformer is not available for russian, so I use tok2vec model

In [8]:
# Command to create config file for the model
! python -m spacy init fill-config base_config.cfg config.cfg

✔ Auto-filled config with all values
✔ Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [9]:
# Command to train the model with training data
! python -m spacy train config.cfg --output ./ --paths.train ./training_data.spacy --paths.dev ./training_data.spacy --gpu-id=0

ℹ Saving to output directory: .
ℹ Using GPU: 0

=========================== Initializing pipeline ===========================
✔ Initialized pipeline

============================= Training pipeline =============================
ℹ Pipeline: ['tok2vec', 'ner']
ℹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00    153.76    1.24    0.73    4.05    0.01
  0     200       2343.65  16632.25   30.23   44.79   22.81    0.30
  0     400       2171.15  11349.53   42.56   50.07   37.00    0.43
  1     600       4121.03  10613.18   57.00   65.08   50.70    0.57
  1     800       4314.17   8790.57   61.74   62.95   60.57    0.62
  1    1000       2531.60   9134.75   67.37   72.46   62.94    0.67
  2    1200       7066.52   7672.29   69.41   74.34   65.09    0.69
  2    1400       1948.08   7755.01   69.71   74.16   65.77    0.70
  3    1600       6707.81   7128.19   74.57   78.53   70.99    0.75
  3    1800       3337.74   6156.37   76.90   78.84   75.06    0.77
  3    2000       2071.47   6761.00   78.15   80.98   75.50    0.78
  4    2200       1790.23   5752.89   79.46   82.72   76.44    0.79
  4    2400       1999.03   5694.18   82.07   84.78   79.53    0.82
  5    2600       8628.67   5905.52   82.49   85.90   79.34    0.82
  5    2800       2796.01   5257.74   83.93   84.78   83.09    0.84
  5    3000      22966.33   5208.77   85.21   85.46   84.95    0.85
  6    3200       2038.99   4342.24   86.32   86.96   85.68    0.86
  6    3400       2402.32   4567.07   86.96   87.99   85.95    0.87
  6    3600       2412.80   4554.75   87.85   89.10   86.63    0.88
  7    3800       3559.51   4238.97   88.18   90.19   86.25    0.88
  7    4000       3152.65   4060.56   88.80   89.29   88.32    0.89
  8    4200       2606.99   4186.71   89.19   88.60   89.79    0.89
  8    4400      11262.09   3656.72   90.21   90.54   89.89    0.90
  8    4600       2589.49   3715.34   89.69   90.24   89.15    0.90
  9    4800       2360.38   3314.68   90.36   91.95   88.83    0.90
  9    5000       2740.52   3616.20   90.51   92.80   88.33    0.91
 10    5200       3099.00   3696.83   92.68   93.19   92.19    0.93
 10    5400       2278.15   2801.49   92.45   93.12   91.79    0.92
 10    5600       3190.89   3353.47   92.50   91.90   93.10    0.92
 11    5800       2788.25   2918.06   93.54   93.51   93.56    0.94
 11    6000       2758.62   3153.77   94.06   94.03   94.09    0.94
 12    6200       3617.24   3598.30   93.35   95.62   91.19    0.93
 12    6400       4581.41   3681.16   95.14   95.01   95.26    0.95
 13    6600       4514.69   4287.13   96.23   96.48   95.99    0.96
 14    6800       5566.47   4427.67   96.99   97.19   96.80    0.97
 15    7000       6007.99   4650.02   97.68   97.73   97.64    0.98
 16    7200      12336.81   4432.20   98.30   98.20   98.39    0.98
 18    7400       4737.32   3765.56   98.62   98.65   98.59    0.99
 19    7600       4852.93   3463.46   98.76   98.79   98.73    0.99
 20    7800       5124.31   3144.34   98.86   98.78   98.93    0.99
 21    8000       4871.90   3126.53   98.86   98.70   99.03    0.99
 23    8200       4845.04   2914.96   99.06   99.21   98.92    0.99
 24    8400       5075.48   2729.76   99.22   99.09   99.36    0.99
 25    8600       5072.60   2712.73   99.13   99.15   99.11    0.99
 26    8800       4786.19   2476.63   99.21   99.20   99.22    0.99
 27    9000       6225.81   2774.61   99.33   99.31   99.34    0.99
 29    9200       4544.52   2249.07   99.35   99.37   99.34    0.99
 30    9400       4766.91   2148.48   99.25   99.19   99.32    0.99
 31    9600       4906.12   2231.30   99.41   99.40   99.42    0.99
 32    9800       5994.05   2330.38   99.36   99.41   99.31    0.99
 34   10000       5010.97   2258.36   99.32   99.33   99.31    0.99
 35   10200       5484.04   2125.79   99.39   99.28   99.49    0.99
 36   10400       5108.72   2066.29   99.46   99.40   99.53    0.99
 37   10600       5100.53   1985.81   99.56   99.53   99.59    1.00
 39   10800       5462.34   1869.51   99.52   99.55   99.49    1.00
 40   11000       5928.42   1975.52   99.60   99.58   99.62    1.00
 41   11200       4059.92   1720.97   99.54   99.53   99.56    1.00
 42   11400       5181.65   1713.47   99.56   99.52   99.60    1.00
 44   11600       6192.60   1847.81   99.67   99.70   99.63    1.00
 45   11800       4418.94   1668.12   99.57   99.55   99.58    1.00
 46   12000       3964.68   1491.86   99.69   99.71   99.68    1.00
 47   12200       4602.80   1584.00   99.61   99.65   99.57    1.00
 48   12400       4697.71   1594.18   99.65   99.64   99.66    1.00
 50   12600       5846.81   1524.04   99.68   99.67   99.70    1.00

Aborted.

In [5]:
# Same fucntion as in the 1st solution (without dictionary)
def predict(nlp, df, sentence_row):
    '''
    Use trained spacy model to predict
    named entites in a text

    Arguments:
    nlp - the spacy model
    df - dataframe with data
    sentence_row - name of the row with text
    '''
    ents = []
    for id, row in df.iterrows():
        # Get the entities for each row
        doc = nlp(row[sentence_row])
        ents.append([[e.start_char, e.end_char-1, e.label_] for e in doc.ents])
    return ents

### Predict

In [8]:
test = pd.read_json('../data/test.jsonl', lines=True)
test

                                             senences   id
0   Владелец «Бирмингема» получил шесть лет тюрьмы...  584
1   Акция протеста на Майдане Независимости объявл...  585
2   Фольксваген может перейти под контроль Порше \...  586
3   В Москве покажут фильмы Чарли Чаплина с живой ...  587
4   Чулпан Хаматова сыграет главную роль в фильме ...  588
..                                                ...  ...
60  ОБСЕ назвала референдум о статусе Крыма незако...  644
61  Египетского студента могут выслать из страны з...  645
62  Геннадий Онищенко отправлен в отставку\nГеннад...  646
63  Племянник Алишера Усманова разбился в ДТП\nВид...  647
64  Владимир Булавин назначен на новую должность —...  648

[65 rows x 2 columns]

In [9]:
nlp_ner = spacy.load("model-best")
answer = predict(nlp_ner, test, 'senences')

In [10]:
# Prepare the dataframe for output
output_df = test.drop(columns=['senences'])
output_df['ners'] = answer

output_df

     id                                               ners
0   584  [[0, 19, PROFESSION], [30, 38, NUMBER], [64, 6...
1   585  [[0, 13, EVENT], [18, 38, FACILITY], [40, 59, ...
2   586  [[0, 10, PERSON], [39, 43, PERSON], [52, 61, P...
3   587  [[2, 7, CITY], [24, 36, PERSON], [72, 91, WORK...
4   588  [[0, 14, PERSON], [50, 61, PERSON], [63, 78, P...
..  ...                                                ...
60  644  [[0, 3, ORGANIZATION], [34, 38, STATE_OR_PROVI...
61  645  [[70, 82, PERSON], [118, 129, COUNTRY], [145, ...
62  646  [[0, 16, PERSON], [30, 37, EVENT], [39, 55, PE...
63  647  [[10, 25, PERSON], [27, 34, EVENT], [38, 40, E...
64  648  [[0, 15, PERSON], [17, 24, EVENT], [47, 55, PR...

[65 rows x 2 columns]

In [11]:
# Write the output
with open('test.jsonl', 'w') as f:
    f.write(output_df.to_json(orient='records', lines=True, force_ascii=False))

## Conclusion

This solution scored **0.52** points on CodaLab. 

Some ideas for improvement: 
- use some pre-computed vectors (e.g. ru_core_news_lg)
- split the training dataset into train and eval (in the tutorial the model was trained without splitting, but I think it can improve the model performance)